// --Мин. ширина--
$minwidth: 320px;
// --

// --Цвета--
$black: #000000;
$gray: #161616;
$grayblue: #172c42;
$lightgray: #4b4b4b;
$red: #ff213b;
$background: rgba(23,44,66,0.7);
//--

// --Шрифты--
$mullerl: 'Muller-Light', sans-serif;
$mullerm: 'Muller-Medium', sans-serif;
$firasans: 'Fira Sans', sans-serif;
$firasansb: 'FiraSans-Black', sans-serif;
//--

// --Адаптивные точки--

//--
