//--Подключение файлов--
@import "vars";
@import "null";
@import "libs";
@import "fonts";
// --

// ==Стили==

// --Разметка--
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.container {
    max-width: 1430px;
    min-width: $minwidth;
    padding: 0px 15px;
    margin: 0 auto;
    z-index: 2;
}
.flex__content {
    flex: 1 1 100%;
    min-width: 0;
}
.flex-col-2 {
    flex: 0 0 50%;
    min-width: 0;
}
.flex-col-3 {
    flex: 0 0 33.3333%;
    min-width: 0;
}
.flex-col-4 {
    flex: 0 0 25%;
    min-width: 0;
}
//--

// --Основные стили--
.header {
    max-width: 100%;
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__logo{
        padding: 25px 0;
        &-link{
            display: block;
        }
        &-img{
            max-width: 100%;
            width: 142px;
            height: 46px;
        }
    }
    &__tel{
        font-family: $firasansb;
        font-size: 20px;
        line-height: 28px;
        font-weight: 800;
        color: $black;
        opacity: 0.5;
        margin-right: 38px;
        &:hover{
            opacity: 1;
            transition: 0.5s ease;
        }
    }
    &__order{
        font-family: $firasansb;
        font-size: 20px;
        line-height: 28px;
        font-weight: 800;
        color: $black;
        border: 2.0px solid $red;
        border-radius: 30px;
        padding: 15px 80px;
        opacity: 0.5;
        &:hover{
            opacity: 1;
            transition: 0.5s ease;
        }
    }
    &__menu{
        display: none;
    }
    &__burger{
        display: none;
    }
}

.nav {
    background: url(../img/car_1.jpg) no-repeat;
    &__row{
        display: flex;
    }
    &__content{
        flex: 0 0 60%;
    }
    &__order{
        flex: 0 0 100%;
    }
    &__form{
        display: flex;
        flex-direction: column;
        justify-content: start;
        background-color: $background;
        padding: 160px 105px;
        &-name{
            font-family: $firasansb;
            font-size: 24px;
            line-height: 80px;
            font-weight: 800;
            letter-spacing: 0.025em;
            color: #ffffff;
        }
        &-phone{
            font-family: $firasansb;
            font-size: 24px;
            line-height: 80px;
            font-weight: 800;
            letter-spacing: 0.025em;
            color: #ffffff;
        }
        &-numbers{
            font-family: $firasansb;
            font-size: 24px;
            line-height: 80px;
            font-weight: 800;
            letter-spacing: 0.025em;
            color: #ffffff;
        }
    }
    &__input{
        display: block;
        width: 400px;
        font-family: $mullerm;
        font-size: 18px;
        line-height: 80px;
        font-weight: 400;
        color: $black; 
        padding-left: 30px;
        &-btn{
            width: 250px;
            font-family: $firasansb;
            font-size: 24px;
            line-height: 90px;
            font-weight: 800;
            color: #ffffff;
            background-color: $red;
            margin-top: 60px;
            &:hover{
                box-shadow: 0px 18px 25px 3px rgba(255,33,59,0.25);
                transition: 0.5s ease;
                cursor: pointer;
            }
        }
    }
.navbar {
    &__list{
        display: flex;
    }

    &__item{
        text-align: center;
        padding-top: 50px;
        &-link{
            font-family: $firasansb;
            font-size: 20px;
            line-height: 24px;
            font-weight: 800;
            letter-spacing: 0.04em;
            padding: 50px 30px;
            color: $black;
            &:hover{
                color: #ffffff;
                background-color: $red;
                transition: 0.3s ease;
            }
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        padding-top: 140px;
        &-heading{
            font-family: $firasansb;
            font-size: 80px;
            line-height: 90px;
            font-weight: 900;
            color: $black;
            & span{
                font-family: $firasansb;
                font-size: 80px;
                line-height: 90px;
                font-weight: 900;   
                color: $red;
            }
        }
        &-info{   
            font-family: $mullerm;
            font-size: 24px;
            line-height: 32px;
            font-weight: 400;
            color: $black;
        }
    }
    }
}

.advantages{
    display: flex;
    &__row{
        
    }
    &__heading{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    &__img{
        max-width: 100%;
    }
    &__body{
        display: flex;
        flex: 0 0 50%;
    }
    &__head{
        padding-top: 150px;
        padding-bottom: 60px;
        font-family: $firasansb;
        font-size: 50px;
        line-height: 28px;
        font-weight: 900;
        letter-spacing: 0.01em;
        color: $black;
    }
    &__content{
        padding-left: 95px;
    }
    &__item{
        display: flex;
        
        &-img{
            width: 54px;
            height: 54px;
            color: $red;
            margin-right: 30px; 
        }
        &-line{
            width: 98px;
            height: 10px;
            background-color: #ff213b;
            margin-bottom: 20px;
        }
        &-content{
            & h3{
                font-family: $firasansb;
                font-size: 30px;
                line-height: 28px;
                font-weight: 900;
                letter-spacing: 0.01em;
                color: $black;
                padding-bottom: 20px;
            }
 
            & p{
                font-family: $mullerl;
                font-size: 16px;
                line-height: 24px;
                font-weight: 300;
                color: $lightgray;
            }
        }
        &-info{
            padding-bottom: 60px;
        }
    }
}

.price{
    &__row{
    }
    &__head{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 120px;
        &-content{
            font-family: $firasansb;
            font-size: 50px;
            line-height: 28px;
            font-weight: 900;
            letter-spacing: 0.01em;
            color: $black;
        }
    }
    &__body{
        display: flex;
        justify-content: center;
    }
    &__content{
        margin: 25px;
        box-shadow: 0px 0px 56px 4px rgba(0,0,0,0.07);
        background-color: #ffffff;
        width: 450px;
        &-head{
            background-color: $grayblue;
            display: flex;
            justify-content: center;
            text-align: center;
            & h2 {
                font-family: $firasansb;
                font-size: 30px;
                line-height: 28px;
                font-weight: 900;
                letter-spacing: 0.01em;
                color: #ffffff;
                padding: 30px 0;
            }
        }
        &-info{
            
        }
        &-item{
            display: flex;
            margin: 40px 50px;
            & p{
                font-family: $mullerl;
                font-size: 16px;
                line-height: 24px;
                font-weight: 300;
                letter-spacing: 0.01em;
                color: $black;
            }
        }
        &-img{    
            width: 31px;
            height: 31px;
            margin-right: 20px;
        }
        &-line{
            width: 100%;
            height: 1px;
            background-color: #e2e2e2;
        }
        &-discount{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &-oldprice{
            font-family: $mullerl;
            font-size: 24px;
            line-height: 50px;
            font-weight: 300;
            text-decoration: line-through;
            color: $grayblue;
        }
        &-newprice{
            font-family: $firasansb;
            font-size: 50px;
            line-height: 50px;
            font-weight: 900;
            text-decoration: none;
            & span{
                font-family: $mullerl;
            }
        }
        &-btn{
            position: relative;
            z-index: 2;
            top: 40px;
        }
        &-order{
            font-family: $firasansb;
            font-size: 24px;
            line-height: 90px;
            font-weight: 800;
            color: #ffffff;
            padding: 25px 115px;
            background-color: $red;
            &:hover{
                box-shadow: 0px 18px 25px 3px rgba(255,33,59,0.25);
                transition: 0.5s ease;
                cursor: pointer;
            }
        }
    }
    &__additionally{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 47px;
        & p{
            font-family: $mullerm;
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
            letter-spacing: 0.01em;
            color: $black;
            & span {
                color: $red;
            }
        }
    }
}
// --Ванильные настройки слайдера--
.slick-slider{
    position: relative;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    user-select: none;
}
.slick-list{
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    padding: 0;
    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-track{
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    display: block;
}
.flex-column{
    min-width: 0;
}
//
.reviews{
    position: relative;
    padding-bottom: 150px;
    z-index: 1;
    &__row{

    }
    &__heading{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        &-head{
            font-family: $firasansb;
            font-size: 50px;
            line-height: 68px;
            font-weight: 900;
            letter-spacing: 0.01em;
            color: $black;
        }
    }
    &__slider{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        & .slick-arrow{
            position: absolute;
            top: 50%;
            z-index: 10;
            font-size: 0;
            width: 15px;
            height: 25px;
        }
        & .slick-arrow.slick-prev{
            left: 0;
            background: url(../img/arrow_left.png) 0 0 no-repeat;
            &::before{
                display: none;
            }
        }
        & .slick-arrow.slick-next{
            right: 0;
            background: url(../img/arrow_right.png) 0 0 no-repeat;
            &::before{
                display: none;
            }
        }
        &-item{
        }
        &-img{
            max-width: 100%;
        }
    }
        
}
.footer{
    background-color: $grayblue;
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0px;
    }
    &__logo{
        &-link{
            display: block;
        }
        &-img{

        }
    }
    &__anchor{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        &-link{
            font-family: $firasans;
            font-size: 24px;
            line-height: 39px;
            font-weight: 400;
            color: #ffffff;
            padding-right: 25px;
            & img{
                width: 17px;
                height: 24px;
                color: #ffffff; 
                margin-left: 25px;
            }
        }
    }
}
//--

@import "media";